/* MAIN PAGE */
/* 메인 페이지, 두번째 카테고리 */

/* HEADER */
/* 
  TODO:
  1. main page - scroll to second page : js
  2. second page - visual (11/13)
  3. second page - get/post categories
  4. second page - call next page
*/
header{
  width: 100vw;
  text-align: center;
  padding-top: 80px;
  background-color: rgb(148 125 111);
  height: 50vh;
}
.logo{
  width: 480px;
  height: 140px;
  cursor: pointer;
}
.container{
  height: 100vh;
}
/* SECTION - FIRST CATEGORY */
.categories-first-box{
  position: absolute;
  bottom: 0;
}
.categories-first-box .content-box{
  display: flex;
  width: 100vw;
  justify-content: center;
}
.categories-first-box .content-box .text-box{
  visibility: hidden;
  text-align: center;
  padding-top: 100px;
  height: 100%;
}
.categories-first-box .content-box .item:hover .text-box{
  visibility: visible;
  background-color: rgba(33,33,33,.5);
  cursor: pointer;
  transition: all ease .5s ;
}
.categories-first-box .content-box .item{
  width: 20vw;
  height: 50vh;
  background-size: cover;
  margin: 0 5px;
  overflow: hidden;
}
.categories-first-box .content-box .item.ss{
  background: url("/images/ss_img.png") no-repeat ;
  background-size: cover;
}
.categories-first-box .content-box .item.hn{
  background: url("/images/hn_test.png") no-repeat ;
  background-size: cover;
}
.categories-first-box .content-box .item.mw{
  background: url("/images/mw_test.png") no-repeat ;
  background-size: cover;
}
.categories-first-box .content-box .item.ds{
  background: url("/images/ds_test.png") no-repeat ;
  background-size: cover;
}

/* SECOND CATEGORY BOX */
.categories-second-box{
  width: 100vw;
  top: 100vh;
  background: url(/images/coffee-2242213_1920.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.categories-second-box .content-box{
  display: inline-block;
  width: 100vw;
}
.categories-second-box .content-box .item.right{
  float:right;
  right: 0;
}
.categories-second-box .content-box .item{
  display: flex;
  clear:both;
  width: 50vw;
  flex-direction: column;
  background-color: rgba(33,33,33,.9);;
  height: 45vh;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: width ease .3s;
}
.categories-second-box .content-box .item:hover{
  width: 100vw;
}