/*  COMMON */
/* 배경색, 폰트 */
@font-face {
  font-family: 'Cafe24Ohsquare';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body{
  font-size: 24px;
  background-color: rgb(245 245 245);
  overflow: hidden;
}
.ctname{
  display: inline-block;
  color: #EEE;
  font-family: 'Cafe24Ohsquare';
  margin-bottom: 15px;
  font-size: 30px;
}
.cttext{
  color: #aaa;
  font-size: 20px;
}
/* hide scroll bar */
body::-webkit-scrollbar{
  display: none;
}

