/* CATEGORY VISUAL */
/* 카페 보여주는 페이지, 모달창 */

/* VIEW PAGE */

/* Header */
header{
    margin-top: 100px;
    margin-left: 100px;
}
.ctname{
    color: black;
    font-size: 42px;
}
.cttext{
    color : black;
}
.container{
    height: 100vh;
}
img{
    width: 200px;
    height: 200px;
}

.cafegory-text {
    width:fit-content;
    border-bottom: 4px solid #bc5434;
    padding-bottom: 5px;
}

/* Body */
.kafegory-view-page{
    width: 100wh;
    top : 100vh;
}
body{
    overflow: scroll;
    background-color: #f5f1e1;
}
.kafegory-view-page .content-box{
    display: inline-block;
    width: 100wh;
}
.kafegory-view-page .content-box .content-item{
    cursor: pointer;
}
.kafegory-view-page .content-box .left-content{
    display : inline-block;
    width : 100vw;
    margin-left: 80px;
    margin-top : 100px;
}
.kafegory-view-page .content-box .left-content .cafe-image{
    display: inline-block;
    position: relative;
    width: auto;

} 
.kafegory-view-page .content-box .left-content .cafe-information{
    display: inline-block;
    position: relative;
    width: auto;
    bottom : 70px;
    left: 30px;
    font-family: 'EliceDigitalBaeum_Regular';
    font-style: bold;
    font-size: 24px;
}
.kafegory-view-page .content-box .right-content{
    float:right;
    right: 0;
    margin-right: 160px;
    margin-top : 100px;
}
.kafegory-view-page .content-box .right-content .cafe-image{
    display: inline-block;
    width: auto;
    position : relative;
} 
.kafegory-view-page .content-box .right-content .cafe-information{
    display: inline-block;
    width: auto;
    position: relative;
    bottom : 70px;
    right: 30px;
    text-align: right;
    font-family: 'EliceDigitalBaeum_Regular';
    font-style: bold;
    font-size: 24px;
}


/* MODAL */

.modal{
    display: none;
    position: fixed;
    background-color: rgba(3,3,3,.8);
    width: 100vw;
    height: 100vh;
    top: 0;
}
.modal .modal-box{
    display: flex;
    width: 80vw;
    height: 80vh;
    margin: 10vh auto;
}
.modal-box #map{
    width: 50%;
    height: 100%;
}
.modal-box #info{
    width: 50%;
    height: 100%;
    padding: 20px;
    background-color: #f5f1e1;
    font-family: 'EliceDigitalBaeum_Regular';
    box-sizing: border-box;
}
.modal-box #info .cafe.name .cttext{
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
}
.modal-box #info .cttext{
    display: block;
    margin-bottom: 10px;
}

.modal-box #info .name{
    display: block;
    position: relative;
    margin-top: 30px;
}

.modal-box #info .cafe.name.icon{
    display: inline-block;
    position: relative;
    margin-left : 100px;
}

.modal-box #info .cafe.name.text{
    display: inline-block;
    position: relative;
    border-bottom: 4px solid #117720;
    width: 16vw;
    text-align: center;
    margin-top: 120px;
    margin-left: 10px;
}

.modal-box #info .work{
    display: block;
    position: relative;
    margin-top: 20px;
}

.modal-box #info .cafe.date.icon{
    display: inline-block;
    position: relative;
    margin-left : 80px;
    color : #604719;
}

.modal-box #info .cafe.date.text{
    display: inline-block;
    position: relative;
    border-left: 4px solid #117720;
    padding-left: 5px;
    height: 22px;
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
}


.modal-box #info .cafe.address.icon{
    display: inline-block;
    position: relative;
    margin-top : 20px;
    margin-left : 77px;
    color: #3f02eb;
}

.modal-box #info .cafe.address.text{
    display: inline-block;
    position: relative;
    border-left: 4px solid #117720;
    padding-left: 5px;
    height: 22px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}

.modal-box #info .address{
    display: block;
    position: relative;
}

.modal-box #info .cafe.react.icon{
    display: inline-block;
    position: relative;
    margin-top : 20px;
    margin-left : 78px;
    color: #ed2335;
}

.modal-box #info .cafe.react.text{
    display: inline-block;
    position: relative;
    border-left: 4px solid #117720;
    padding-left: 5px;
    height: 22px;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;

}

.visual{
    display: block;
}

